* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}

:root {
  --task-container: #c4c4c4;
  --color-blanco: #fcfcfc;
  --font-regular: "Open Sans", sans-serif;
  --color-morado: #7F5283;
}

body {
  height: 100%;
  margin: auto;
  background-color: var(--color-blanco);
}


.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr 1fr 1fr;
  grid-template-columns: 16rem 1fr 1fr 1fr 1fr 1fr;
}

.navbar {
  background-color: var(--color-blanco);
  width: 100%;
  height: 5rem;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 7;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  /* Search bar Config */

  & .search__container {
    padding: 1rem;
  }

  & .search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  & .search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  & .search__input:hover,
  & .search__input:focus {
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
    transform-origin: left;
  }

  /* Name Board Config */

   & .task__boardName{
    height: 4rem;
    width: 50rem;
    margin-right: 10rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    border: 1px solid black;
   }

  /* Profile Config */

   & .task__navProfile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
    margin-top: 0.5rem;
    object-fit: cover;

    & .task__navProfile--image{
      width: 4rem;
      height: 4rem;
    }
   }

}

.sidebar {
  background-color: var(--color-blanco);
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;

  /*Logo config*/

  & .sidebar_logo {
    text-align: center;
    width: 100%;
    height: 5rem;
    padding: 1rem;

    & .sidebar_logo--image{
      width: 23rem;
    }

  }

    /*Main config*/


  & .sidebar_main {
    font-family: var(--font-regular);
    text-align: center;
    width: 100%;
    height: 43rem;
    padding: 1rem 0;
    border-top: 1px solid #A1A1A1;
    display: flex;
    flex-direction: column;


    & .add_task{
      height: 2rem;
      width: 100%;
      font-family: var(--font-regular);
      background-color: var(--color-blanco);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      font-size: large;


      & .menu_down{
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & .add_task:hover{
      background-color: #c4c4c4;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    & .add_task--active{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #e2dfdf;
      font-family: var(--font-regular);
      gap: 1rem;
      padding: 1rem;


      & .input_form{
        width: 100%;
        height: 2rem;
        font-family: var(--font-regular);
        border-bottom: black;
        padding: 0 0.5rem;
      }

      & .input_form--desc, textarea{
        width: 100%;
        height: 5rem;
        font-family: var(--font-regular);
        border-bottom: black;
        resize: none;
        padding: 0.5rem;
      }

      & #myButton{
        width: 6rem;
        height: 2rem;
        font: var(--font-regular);
        background-color: #6FB8DE;
        border-radius: 15px;



      }
    }

    
    

    & form{
      display: none;
    }

  }
    
  }

    /*Footer config*/


  & .sidebar_footer {
    font-family: var(--font-regular);
    text-align: center;
    width: 100%;
    height: 10rem;
    border-top: 1px solid #A1A1A1;
    display: flex;
    flex-direction: column;

      & .footer__creator{
        border: 1px solid red;
        height: 5rem;
        width: 13rem;
        margin: 0.5rem auto;
      }
      & .footer__about{
        border: 1px solid red;
        height: 5rem;
        width: 13rem;
        margin: 0.5rem auto;

      }
      & .footer__darkmode{
        border: 1px solid red;
        height: 5rem;
        width: 13rem;
        margin: 0.5rem auto;
      }
    }


  /* Main config*/

.task_container {
  background-color: var(--task-container);
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


  /* Task Cards config*/

.task_board {
  font-family: var(--font-regular);
  background-color: var(--color-blanco);
  text-align: center;
  width: 20rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;

  & .task_states {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem 0 0 1rem;
    border-left: 1rem solid var(--color-morado);
    box-sizing: border-box;

    & .task_states--title {
      padding: 16px;
      width: 8rem;
      height: 100%;
      text-align: left;
      font-size: 20px;
      padding: 2px 2px 2px 5px;
    }

    & .task_states--menu {
      width: 8rem;
      height: 100%;
      text-align: right;
      & .icon_menu {
        height: 2.5rem;
      }
    }
  }

  & .task_element {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0.5rem;
    overflow-y: auto;
    scrollbar-color: #575756 #c4c4c4;
    scrollbar-width: thin;
    gap: 0.5rem;
    
    & .task_style{
      background-color: #dfe1e4;
      overflow-wrap: break-word;
      height: fit-content;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      padding: 0.2rem 1rem;
      text-align: left;
      border-left: #575756 solid 0.4rem;
    }

    .task_style:hover{
      cursor: default;
    }


}
}


/* Select Box */
.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}