* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  margin: auto;
  background-color: #ffffff;
}

.container {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 7rem 1fr 1fr 1fr;
  grid-template-columns: 16rem 1fr 1fr 1fr 1fr 1fr;
}
.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 7rem;
  border: 1px solid black;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 7;
}

.sidebar {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid blue;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.sidebar_logo{
  text-align: center;
  border: 3px dotted black;
  width: 100%;
  height: 7rem;
}
.sidebar_main{
  text-align: center;
  border: 3px dotted black;
  width: 100%;
  height: 41rem;
}
.sidebar_footer{
  text-align: center;
  border: 3px dotted black;
  width: 100%;
  height: 10rem;
}

.task_container {
  background-color: #c4c4c4;
  border: 2px solid red;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task_board--1{
  text-align: center;
  border: 3px dotted yellow;
  width: 20rem;
  height: 40rem;
}
.task_board--2{
  text-align: center;
  border: 3px dotted yellow;
  width: 20rem;
  height: 40rem;
}
.task_board--3{
  text-align: center;
  border: 3px dotted yellow;
  width: 20rem;
  height: 40rem;
}

